<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="style3.css" rel="stylesheet" type="text/css" />
</head>

<body>

<h1> Welcome to my baby shower </h1>
<p> I am inviting you to my baby shower where I get to <br /> celebrate with my beloved ones<br /> the coming new baby</p>
<form name="input" action="html_form_action.asp" method="get">
Your name: <input type="text" name="firstname" /><br />
<input type="submit" value="Submit" />
 

</form>
</body>

</html>







