<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="style4.css" rel="stylesheet" type="text/css" />
</head>

<body>

<h1> You are invited to my Birthday </h1>
<p> Because you are a true friend <br /> It is my pleasure to invite you for my Birthday <br /></p>
<h1>Dont forget the present !<br /></h1>
<form name="input" action="html_form_action.asp" method="get">
Your name: <input type="text" name="firstname" /><br />
<input type="submit" value="Submit" />
 

</form> </body>

</html>







