<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="style2.css" rel="stylesheet" type="text/css" />
</head>

<body>

<h1>It is your Graduation Party !<br />
</h1>
<p>The party you have worked so hard to enjoy<br />You are invited to your Graduation Party<br /> 
Please RSVP below<br /> </p>
<form name="input" action="html_form_action.asp" method="get">
Your name: <input type="text" name="firstname" /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Submit" />
</form>
</body1>
</html>







