<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

				<div class="span-two-thirds">
					<h2>Your Invitation to our wedding</h2>
					<h1>Because you you are a dear friend<br />we Brian & Sophie<br />are inviting you to our wedding<br /> on the 18/04/2012</h1>
					
					<p>
					<p>looking forward to seeing you<br /> Please RSVP  </p>

<form name="input" action="html_form_action.asp" method="get">
Your name: <input type="text" name="firstname" /><br />
<input type="submit" value="Submit" />
 

</form>
</div>
</body>
</html>
					<br />










