@charset "utf-8";
/* CSS Document */




h1
{
color:white;
text-align:center;
font-family:"Helvetica", cursive, serif;
font-size:20px
}
p
{
color:white;
font-family:"Helvetica", cursive, serif;
text-align:center;
font-size:19px;
}

body{
background-image:url('HappyBirthday.png');
background-repeat:no-repeat;
background-position:center; 
margin-top: 415px;
background-color:#000000
}
form
{
color:white;
text-align:center;
font-size:16px;
font-family:"Helvetica", cursive, serif;
}
