@charset "utf-8";
/* CSS Document */



h1,h2
{
color:white;
text-align:center;
font-style:italic;
font-family:"brush script mt", Times, serif;
font-size:20px

}
p
{
color:white;
font-family:"brush script mt", Times, serif;
font-style:italic;
text-align:center;
font-size:18px;
}

body{
background-image:url('picture11.png');
background-repeat:no-repeat;
background-position:center; 
background-color:#9DD1D3;
}
form
{
color:white;
text-align:center;
font-family:"brush script mt", Times, serif;
font-style:italic;
}
body1{
background-image:url('aaa.png');
background-repeat:no-repeat;
background-position:center; 
}